<h1 style="color:blueviolet">LOGIN EMPLEADO</h1>
<form  method="post">
<label>Username:</label>    
<input type="text" name="username"  />
<label>Password:</label>    
<input type="text" name="password"  />

<button class="btn btn-info">Log In</button>
</form>
<h3 style="color:orangered">@ViewData["MENSAJE"]</h3>