@if (Context.User.Identity.IsAuthenticated == false)
{
    //NUNCA LLAMAMOS A LOGIN
    //EL TRUCO ESTÁ EN LLAMAR A UNA VISTA QUE TENGAMOS CON SEGURIDAD Y AHÍ APARECERÁ EL LOGIN
    //EFECTO OPTICO DEL LOGIN
    <li class="nav-link text-info">
        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Perfil">Log In</a>
    </li>
    //como es una zona que no hace falta enseñar en el navbar la muestro en el partial
    
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Perfil">
                Mi Perfil
            </a>
        </li>

        @* Si el usuario es Admin, podrías envolver esto en un if *@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="AdminEmpleados">
                Admin
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Managed" asp-action="LogOut">
                Log Out (<span class="text-success">@Context.User.Identity.Name</span>)
            </a>
        </li>
    </ul>
}